/* Universals
============================== */
/* These things effect the entire page */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* Background color */
body {
	background-color: #F2F4E9;
}

/* Responsive container */
.container {
	position: relative;
	max-width: 100%;
	margin: 0;
}

/* Other Universal */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* Header
============================== */
/* Logo, deployment, toggle btw parks and trails, about */
/* styles largely inherited from Bootstrap.css */

/* row containing both "Navbar" and "Filter & Search*/
.top-ui {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	margin: 0px;
}

.navbar {
	width: 100%;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	max-height: 60px;
}

.navbar-inner {
	background-color: #5E4534;
	border: none;
	box-shadow: none;
	text-align: justify;
	padding: 1em 5% 1em;
}

.navbar-inner::after {
	content: '';
	display: inline-block;
}

.navbar .brand {
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	line-height: 30px;
	font-size: 30px;
	color: #FFF;
  	display: inline-block;
  	font-weight: 200;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

/* .subBrand is equal to the "Deployment name" */
.navbar .subBrand {
	margin-left: 20px;
	display: inline-block;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #fff;
	font-size: 15px;
}

.navbar .subBrand:hover {
	text-decoration: none;
}

/* Filter & Search
============================== */

/* 100% wide container*/
.searchbar {
	position: absolute;
	height:60px;
	width: 100%;
	background-color: #fff;
	text-align: justify;
	line-height: 30px;
}

/* Filter Container */
.filters {
	position: absolute;
	width: 60%;
	height: 60px;
	display: inline-block;
	left: 4em;
}

.filters::after {
	content: '';
	display: inline-block;
}

/* Filter Btn Groups */
.bootstrap-select.btn-group: {
	height: 100%;
	margin-bottom: 0px;
}

.bootstrap-select.btn-group:hover {
	background-color: #C45F37;
}

.btn.dropdown-toggle {
	background-color: transparent;
	height: 100%;
	font-weight: lighter;
}


/*.btn-group .bootstrap-select:open {
	background-color: #8DBB7D;

}
.btn-group > .btn:first-child {
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}*/

/*.btn {
	background-image: none;
	background-color: #fff;
	box-shadow: none;
	border: none;
}*/


.filter > .btn:hover, btn:focus, btn:active {
	color: #fff;
	text-shadow: none;
	background-color: #8DBB7D; 
}

.bootstrap-select:not([class*="span"]) {
	width: 160px;
}


/*/* Menu labels, some styling to override Bootstrap */

 Search element, overriding Bootstrap 
.navbar-search .search-query {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* This may be a duplicate of some kind? */
.searchform {
	padding: 10px 0px 0px 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* List & Map
============================== */

#main {
	position: absolute;
	top: 120px;
	width: 100%;
	height: 760px;
	margin: 0;
}

.trailMapContainer {
	position: absolute;
	top: 20px;
	right: 60px;
	height: 600px;
	margin-right: 0px;
	padding: 0px;
	border-radius: 2px;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}
/*
.left-ui {
	z-index: 100;
	width: 20%;
	height: 80%;
	position: relative;
	background: transparent;
	top: 20px;
	left: 60px;
}*/

#trailList {
	z-index: 100;
	position: absolute;
	top: 60px;
	left: 60px;
	height: 40em;
/*	width: 20%;*/
	min-width: 20em;
	overflow: scroll;
	background-color: #FFF;
	border-radius: 2px;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.trailList-title {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 60px;
	z-index: 100;;
	width: 20%;
	min-width: 20em;
	background-color: #5E4534;
/*	border-color: #3a3636;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);	*/
}

.trailList-title p {
	display: inline-block;
	position: relative;
	padding: 10px 0px 0px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 16px;
	color: #FFF;
}

.trail-box {
	position: relative;
	height: 80px;
	margin: 4px;
	background-color: #fff;
	border-color: #3a3636;
  	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,,0.5);
  	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.trail-box:hover {
	background-color: #f3ddd4;
}

/* List Item Components !!! */

.trail {
	position: absolute;
	height: auto;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 20px;
	line-height: 20px;
	color: #C45F37;
	top: 10px;
	left: 14px;
}

.trail-box .trailheadName {
	position: absolute;
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-size: 14px;
	color: #4e4c4c;
	top: 45px;
	left: 14px;
}

.trail-box .trailheadDistance {
	position: absolute;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-size: 14px;
	text-align: right;
	color: #757272;
	top: 10px;
	right: 10px;
}

.trailSource {
	display: none;
	position: absolute;
	top: 16px;
	right: 10px;
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 14px;
	line-height: 20px;
	color: #757272;
	text-align: right;
}

.trailIndicatorLight {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: red;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.detailPanelContainer {
	display: none;
	position: absolute;
	height: 600px;
	/*Magic Number*/
	left: 337px;
	top: 20px;
	z-index: 9999;
	webkit-transition: width 0.3s ease, margin 0.3s ease;
	transition: width 0.3s ease, margin 0.3s ease;
}

/* Detail Panel Elements
============================== */


.detail-panel {
	position: absolute;
	width: 20em;
	height: 600px;
	z-index: 9999;
	background-color: #fff;
	overflow: scroll;
	border-bottom: 1px solid #d4d4d4;
	font-family: 'Oswald', sans-serif;
/*	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075);	
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075);
/*	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075);*/
}

.detailPhoto {
	position: absolute;
	width: 100%;
}

.detail-panel .detailPanelTitle {
	position: absolute;
	bottom: -1;
	background-color: #C45F37;
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 10px 10px 0px 10px;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 20px;
}

.closeDetail {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 50px;
	border: 1px solid #cccccc
}

.closeDetail p {
	display: inline-block;
	text-align: center;
	color: #F2F4E9;
	text-shadow: 1px 1px 1px #3a4120;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 12px;
}

.trailName {
	margin: 0;
	color: #FFF;
}

.detail-panel .detailPanelBody {
  	padding: 20px 10px;
  	position: absolute;
  	height: auto;
  	margin-top: 15%;
}

.detail-panel .detailTrailheadName {
	position: relative;
  	margin-left: 20px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 14px;
}

.detail-panel .detailDirections {
	position: relative;
	float: right;
  	margin-left: 10px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  	font-weight: 300;
  	font-size: 14px;
}

.detail-panel .detailSource {
	position: relative;
  	margin-left: 20px;
	width: 100%;
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size: 14px;
}

.detail-panel .detailTrailheadDistance {
	position: relative;
  	margin-left: 20px;
	width: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;
}

.detail-panel .detailPanelHeader {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;
}

.detail-panel #left {
	margin-top: 15px;
	max-width: 50%;
	float: left;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;
}

.detail-panel #right {
	margin-top: 15px;
	max-width: 50%;
	float: right;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;
}

.detail-panel .detailPanelPicture {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.detail-panel .detailDescription {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;}

.detail-panel .detail-body {

}

.miles {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
   	font-size: 14px;
}

/* Map Elements
============================== */

.trail-popup {
  color: #000;
}

#trailMap {
	z-index: 1;
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.trailMap-title {
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	background-color: #CFDBC5;
}

.trailMap-title p {
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #000;	
}

.trailhead-popup {
  color: black;
}

.trailhead-name {
  font-weight: bold;
}

.trailhead-trailname {
  color: white;
  cursor: pointer;
}

.trail1 {
  /*background-color: #536E49;*/
  /*background-color: #F7E497;*/
  background-color: #DBAE92;
}

/*.trail-box.trail1:hover {
	background-color: #F2F4E9;
}
*/

.trail1:hover {
  background-color: #666666;
}

.trail2 {
  background-color: #A36D95;
  /*background-color: #B5BA7D;*/
  /*background-color: #D2C280;*/
}

.trail2:hover {
	/*background-color: #F2F4E9;*/
  background-color: #666666;
}

.trail3 {
  background-color: #3F7A29;
  /*background-color: #6B6E49;*/
  /* background-color: #80774F; */
}

.trail3:hover {
	/*background-color: #F2F4E9;*/
  background-color: #666666;
}


/*----Redo Search Button (Temporary - Auto Refresh Search)
============================== */
#redoSearch {
	padding-top: 20px;
	opacity: 0%;
	width: auto;
}

#redoSearch span {
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
}


#crosshair {
    position: absolute;
    top: 310px;
    height: 19px;
    width: 19px;
    left: 310px;
    /*margin-left: -8px;*/
    display: block;
    background: url(img/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

