#crosshair {
    position: absolute;
    top: 310px;
    height: 19px;
    width: 19px;
    left: 310px;
    /*margin-left: -8px;*/
    display: block;
    background: url(images/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Header */

#navbar {
	position: absolute;
	top: 0px;
	left: 30px;
	right: 0;
	width: 970px;
	height: 60px;
	background: #3a3636;
}

#title {
	position: relative;
	top: -20px;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 24px;
	color: #fff;
	margin-left: 48px;
	padding-bottom: 12px;

}

/* Major Layout */

.wrapper {
	position: fixed;
	float:left;
	width:100%;
	height:auto;
	margin-top: 40px; /* need to account for the size of the nav */
	margin-right: 20px;
	background-color: #fff;
}

.narrow-menu {
	overflow: hidden;	
	margin-top: 20px;
	margin-left: 21px;
	display: block;
	width: 970px;
	min-height: 50px;
	background-color: #eee;
}


.row {
	overflow: hidden;	
	margin: 20px;
	display: block;
	width: 100%;
	min-height: 300px;
}


.span4 {
	float: left;
	width: 320px;
	height: auto;
	color: #eee;
}

.span8 {
	float: left;
	width: 640px;
	height: 400px;
	color: #eee;
	margin-left: 5px;
	overflow: hidden;
}

/* List Elements */

#trailList {
	height: 640px;
	border: 3px;
	border-style:solid;
	border-color:#CFDBC5;
	border-radius: 2px;
	overflow: scroll;
}


.trail { 
	float: left;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #3a3636;
	padding-left: 12px;
	vertical-align: 20%;

}

.trailheadName {
	float: left;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-left: 12px;
	padding-bottom: 6px;
}

.trailheadDistance {
	float: left;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-left: 12px;
	padding-bottom: 6px;
}

.trailSource {
	float: left;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-left: 12px;
	padding-bottom: 6px;
}

.trail-box {
	height: 100px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #CFDBC5;
	border-color: #3a3636;
  	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.trailList-title {
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	background-color: #CFDBC5;

}

.trailList-title p {
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #000;	
}



/* Map Elements */


#trailMap {
	position: absolute;
	width: 640px; 
	height: 640px;
}

.trailMap-title {
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	background-color: #CFDBC5;
}

.trailMap-title p {
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #000;	
}

p {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #000;	
}

.trailhead-popup {
  color: black;
}

.trailhead-name {
  font-weight: bold;
}

.trailhead-trailname {
  color: green;
}