/* Top-level
============================== */
/* These things effect the entire page */


/* This is included re a Paul Irish recommendation
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* Background color */

body {
	background-color: #F2F4E9;
}

/* Responsive container */

.container {
	position: relative;
	z-index: 999;
}


/* Header
============================== */
/* Logo, deployment, toggle btw parks and trails, about */
/* styles largely inherited from Bootstrap.css */

/* .navbar styled completely in Boostrap */



.navbar-inner {
	background-color: #8DBB7D;
}

/* Brand or Mark
============ */

/* Responsive container */

.navbar .brand {
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 30px;
	color: #F7E497;
  	display: inline-block;
  	padding: 20px 30px 25px 25px;
  	font-weight: 200;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

/* Name of Local Deployment (i.e. Summit County)
============ */

.navbar .subBrand {
	display: inline-block;
	float: left;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
  	padding: 25px 20px 20px 0px;
	color: #fff;
	font-size: 18px;
}

.navbar .subBrand:hover{
	text-decoration: none;
}

/* Top-line navigation menu
============ */
/* trails, parks and about us (not clearly defined) */


/* This margin-left is for use in the Narrow Search .nav menu*/
.navbar .nav {
	margin-left: 40px;
}

.navbar .nav li:hover {
	background-color: #8DBB7D;
}

.navbar .nav > li > a {
  float: none;
  padding: 25px 20px 20px 5px;
  color: #fff;

/* Verify the need for the following styles (e.g. override Bootstrap) */

  text-decoration: none;
  text-shadow: none;
}


.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}


/* Search
============================== */
/* Look into attaching this to the top-line nav */

.row {
	margin-left: 0px;
	height: auto;
}

/* Why chained selector? */
.span12.navbar {
	min-height: 40px;
	max-height: 40px;
	margin-left: 0px;
	margin-bottom: 40px;
}

.navbar-inner.searchbar {
	background-color: #fff;
}

/* This is currently "Narrow Your Search" */
.searchbarTitle,
.searchbarTitle:hover {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 20px;
	color: #8DBB7D;
	display: inline-block;
	line-height: 65px;
	float: left;
	text-decoration: none;

}


.filters {
	display:inline-block;
	padding: 10px 0px 0px 30px;
}
.btn-group > .btn:first-child {
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn {
	background-image: none;
	background-color: #fff;
	box-shadow: none;
	border: none;
}

.btn .caret:hover {
	background-color: #fff;
}

.btn:hover, btn:focus, btn:active {
	color: #fff;
	text-shadow: none;
	background-color: #8DBB7D; 
}

.bootstrap-select:not([class*="span"]) {
	width: 160px;
}


/* Menu labels, some styling to override Bootstrap */
.searchbar .nav > li > a {
	list-style: none;
  	color: #aaa;
  	text-decoration: none;
  	padding: none;
 }

.searchbar .nav > li > a:focus,
.searchbar .nav > li > a:hover {
 	color: #fff;
}

/* Search element, overriding Bootstrap */
.navbar-search .search-query {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* This may be a duplicate of some kind? */
.searchform {
	padding: 10px 0px 0px 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

/* List & Map
============================== */

/* Row Containing Both */

/* List Elements */

.row .span4 {
	margin-left: 0px;
	margin-right: 20px;
	float: left;
	height: auto;
	background-color: #fff;
}

#trailList {
	position: relative;
	height: 620px;
	width: 100%;
	overflow: scroll;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);	
}

.trailList-title {
	height: 40px;
	background-color: #fff;
	border-color: #3a3636;
  	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,,0.5);
  	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  	z-index: 1;
}

.trailList-title p {
	padding: 12px 0px 0px 25px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 16px;
	color: #8DBB7D;
}

.trail-box {
	position: relative;
	height: 100px;
	width: auto;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #fff;
	border-color: #3a3636;
  	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,,0.5);
  	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.trail-box:hover {
	background-color: #D4E5CE;
}

.trail {
	position: relative;
	height: auto;
	min-width: 50%;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 20px;
	color: #3a3636;
	padding-top: 12px;
	padding-left: 18px;
	padding-bottom: 6px;
}

.trailheadName {
	max-width: 50%;	
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-left: 18px;
	padding-bottom: 6px;
}

.trailheadDistance {
	max-width: 50%;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-left: 18px;
	padding-bottom: 6px;
}

.trailSource {
	position: relative;
	bottom: 22px;
	float: right;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 12px;
	color: #3a3636;
	padding-right: 18px;
}

.detailPanelContainer {
	display: none;
	position: relative;
	webkit-transition: width 0.3s ease, margin 0.3s ease;
	transition: width 0.3s ease, margin 0.3s ease;
}

 .span0 {
 	width: 0%;
 	margin-left: 0;
 }

/* Detail Panel Elements
============================== */


#detail-panel{
	position: relative;
	height: 620px;
	width: 100%;
	background-color: #fff;
	overflow: scroll;
	border: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.075);	
}

.trailName {
	position: absolute;
	top: -10px;
	background-color: #f2f4e9;
	display: inline-block;
	width: 100%;
	padding-left: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 20px;
	color: #8DBB7D;
	line-height: 75px;
	float: left;
	text-decoration: none;
  	border-bottom: 1px solid #ccc;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.trailheadName {
	display: inline-block;
	position: absolute;
	top: 75px;
	width: 100%;
}

.source {
	display: inline-block;
	position: absolute;
	top: 100px;
	width: 100%;
}

.trailheadDistance {
	display: inline-block;
	position: absolute;
	top: 120px;
	width: 100%;
}

.detail-body {

}

/* Map Elements
============================== */

.trail-popup {
  color: #000;
}

.row .span8 {
	margin-left: 0px;
	position: relative;
	float: left;
	height: auto;
}

#trailMap {
	background-color: #fff;
	width: 100%;
	height:  620px;
	position: relative;
}

.trailMap-title {
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	background-color: #CFDBC5;
}

.trailMap-title p {
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	color: #000;	
}

.trailhead-popup {
  color: black;
}

.trailhead-name {
  font-weight: bold;
}

.trailhead-trailname {
  color: white;
  cursor: pointer;
}

.trail1 {
  background-color: #8DBB7D;
}

.trail-box.trail1:hover {
	background-color: #8DBB7D;
}

.trail2 {
  background-color: #7D8DBB;
}

.trail2:hover {
	background-color: #7D8DBB;
}

.trail3 {
  background-color: #BB7D8D;
}

.trail3:hover {
	background-color: #7D8DBB;
}


/*----Redo Search Button (Temporary - Auto Refresh Search)
============================== */
#redoSearch {
	opacity: 0%;
	width: auto;
}

#redoSearch span {
	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
}

#redoSearch:hover {
	background: #b5c7a6;
}

#redoSearch span:hover {
	color: #3a3636;
}


#crosshair {
    position: absolute;
    top: 310px;
    height: 19px;
    width: 19px;
    left: 310px;
    /*margin-left: -8px;*/
    display: block;
    background: url(images/crosshair.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

