/*========*/
/* Colors */
/*========*/

/* Oranges*/
@color-light-orange: #EFB589; /* normal states */
@color-medium-orange:#CC8464; /* pressed, hover states */
@color-dark-orange: #C45F37; /* active states, headers */

/* Blue */
@color-light-blue: #76BCC4; /* normal state of buttons */
@color-medium-blue: #61A7AA; /* emphasized text? */
@color-dark-blue: #61A7AA; /* headers, icons */

/* Greens */
@color-light-green: #E4EACC; /* park area on map */
@color-medium-green: #D3DDAB; /* park area border */
@color-dark-green: #B2BA85; /* park area text */

/* Grayscale */
@color-white: #FFF;
@color-light-gray: #BCBEC0; /* inactive buttons, box borders */
@color-medium-gray: #58595B; /* text...when? */
@color-dark-gray: #231F20; /* text */
@color-black: #000;

/* Browns */
@color-light-brown: #9E8A7A; /* trail marker */
@color-dark-brown: #5E4534; /* header */

/* Reds */
@color-light-red: #C68B95; /* alert icon */
@color-dark-red: #911221; /* alert */

/* Yellows */
@color-light-yellow: #EAD19B; /* alert icon*/
@color-dark-yellow: #F4CB64; /* alert */

/* Deprecated <REMOVE> */
@color-trail1: #9B1818;
@color-trail2: #873030;
@color-trail3: 713E3E;



/* New Colors */
/*@color-very-light-blue: #D9F0FC;
@color-light-blue: #96DAF8;
@color-medium-blue: 
@color-dark-blue:

@color-light-green:
@color-medium-green:
@color-dark-green:

@color-light-brown:
@color-medium-brown:
@color-dark-brown:

@color-light-gray:
@color-medium-gray:
@color-black:
@color-white:*/


