/*========*/
/* Colors */
/*========*/

/* Oranges*/
@color-light-orange: #EFB589; /* normal states */
@color-medium-orange:#CC8464; /* pressed, hover states */
@color-dark-orange: #C45F37; /* active states, headers */




/* Blues / Buttons */
/*===============================*/

/* default */
@color-light-blue: #D9F0FC; 

/* pressed/hover */
@color-mid-blue: #96DAF8;

/* pressed/hover */
/*@color-mid-dark-blue: #00C2EF;*/

/* active map markers */
@color-dark-blue: #00adef;

/* Green / Text Emphasis & Icons */
/*===============================*/

/* "unused yet" */
@color-light-green: #EBF4DF;

@color-light-green2: #D5E8B7;

@color-mid-light-green: #B0D576;

/* pressed / hover */
@color-mid-green: #91C73D;

/* Normal Trail Lines */
@color-mid-dark-green: #678729;

/* headers / icons / announcements */
/*@color-dark-green: #445617;
*/
/* Greens for Parks */
/*===============================*/

/* hover */
@color-park-light-green: #EBF4DF;

/* park area */
@color-park-mid-light-green: #D5E8B7;

/* park name text */
@color-park-green: #B0D576;

/* Browns / Trail Lines */
/*===============================*/

/* Normal Trail Lines */
@color-mid-dark-green: #B79E8A;

/* Hover on Normal Trail Line */
@color-mid-light-brown: #BA7360;

/* Hover on Active Trail*/
@color-mid-dark-brown: #6D544B;

/* Header / Active Trail */
@color-dark-brown: #523D32;

/* Text and Trail Lines / Grays */
/*===============================*/

/**/

@color-hover-gray: #EFEFEF;
@color-light-gray: #E3E3E1;
@color-light-mid-gray: #BBBDBF;

/* Most Text */
@color-mid-gray: #58595B;

@color-white: #FFFFFF;

/* Yellows/Reds For Alerts */

@color-light-yellow: #F4DCAB;
@color-yellow: #F3CA64;
@color-light-red: #BE6E5C;
@color-red: #9C2D23;

/* UI */

@color-map-background: #DDDDDD;
