.trailListColumn {
	@media @mobile {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		opacity: 100;
		a {
			display: none;
		}
	}
	@media @desktop {
		position: absolute;
		top: 2em;
		left: 3em;
		width: 24em;
		max-height: 90%;
		min-height: 14em;
		padding: 0;
		background: @color-white;
		z-index: 999;
		overflow: visible;
	}
}

/* Deprecated detailPanelColumn (No longer necessary due to new arrangement)
.detailPanelColumn {
	@media @mobile {
		display: none;	
	}
	@media @desktop {
		display: none;
		position: relative;
		height: 500px;
		padding: 0;
		webkit-transition: width 0.3s ease, margin 0.3s ease;
		transition: width 0.3s ease, margin 0.3s ease;
	}
}
}
*/
.detailPanel {
	@media @mobile {
		width: 100%;
		height: 100%;
		background-color: @color-white;
		transition: all 0.25s ease;
		z-index: 9000;
		&.expanded {
			position: absolute;
			top: 3em;
			overflow: visible;
			.detailPanelSlider {
				border-top-left-radius:3em;
				border-top-right-radius:3em;
				height: 1.5em;
				width: 3em;
				top: -1.5em;
				left: 45%;
				position: absolute;
				background-color: @color-dark-blue;
				z-index: 999;
				cursor: pointer ;
				.controlTop {
					border-radius: 0em 0em 0em 0em;
					width: 0; 
					height: 0; 
					position: absolute;
					left: .75em;
					top: .6em;
					border-left: .8em solid transparent;
					border-right: .8em solid transparent;
					border-top: .8em solid @color-white;
				}
			}
		}
		&.contracted {
			position: absolute;
			top: 80%;
			overflow: visible;
			.detailPanelSlider {
				border-top-left-radius:3em;
				border-top-right-radius:3em;
				height: 1.5em;
				width: 3em;
				top: -1.5em;
				left: 45%;
				position: absolute;
				background-color: @color-dark-blue;
				z-index: 999;
				cursor: pointer ;
				.controlTop {
					border-radius: 5em 5em 0em 0em;
					width: 0; 
					height: 0; 
					position: absolute;
					left: .75em;
					top:.6em;
					border-left: .8em solid transparent;
					border-right: .8em solid transparent;
					border-bottom: .8em solid @color-white;
				}
			}
		}
		.detailPanelBanner {
			position: relative;
			width: 100%;
			background-color: @color-dark-blue;
			padding: .5em 1em .5em 2em;
			min-height: 2em;
			.trailName {
				.sansSerif-light;
				color: @color-white;
			}
			.trailIndex {
				.sansSerif-light;
				color: @color-white;
				font-size: 12px;
				float: right;
				margin-right: 2em;
			}
			.detailPanelControls {
				display: inline-block;
				height: 100%;
				position: absolute;
				background-color: @color-dark-blue;
				z-index: 999;
				cursor: pointer ;
				&.disabled {
					cursor: auto;
					display: none;
				}
				&.enabled {
					cursor: pointer;
					display: inline-block;
				}
				&.controlLeft {
					width: 2em;
					top: 0;
					left: 0;
					b {
						position: absolute;
						top: .4em;
						left: .4em;
					    border-bottom: .8em solid transparent;
					    border-top: .8em solid transparent;
					    border-right: .8em solid @color-white;
					    display: inline-block;
					    height: 0;
					    width: 0;
					}
				}
				&.controlRight {
					width: 2em;
					top: 0;
					right: 0;
					b {
						position: absolute;
						top: .4em;
						right: .4em;
					    border-bottom: .8em solid transparent;
					    border-top: .8em solid transparent;
					    border-left: .8em solid @color-white;
					    display: inline-block;
					    height: 0;
					}
				}
			}
		}
		.status {
			position: relative;
			height: auto;
			width: 100%;
			z-index: 999;
			.sansSerif-light;
			font-size: 12px;
			color: @color-white;
			&#yellow {
				background-color: @color-yellow;
			}
			&#red {
				background-color: @color-red;
			}
			img {
				height: auto;
				width: 10%;
				vertical-align: top;
				position: relative;
				display: inline-block;
			}
			span {
				height: auto;
				width: 90%;
				position: relative;
				display: inline-block;
				padding: 1em 1.33em 1em 0em;
			}
		}
		.trail-box {
			position: relative;
			height: auto;
			background-color: @color-white;
			border-bottom-style: dotted;
			border-width: 1px;
			border-color: @color-light-gray;
			cursor: pointer;
			.trailInfo {
				position: relative;
				display: none;
				width: 100%;
				height: auto;
				.trailCurrentIndex {
					position: relative;
					display: none;
					vertical-align: top;
					margin: 0em 0 0 0em;
					height: 2em;
					width: 1.667em;
					.sansSerif-light();
					font-size: 12px;
					color: @color-mid-light-green;
					text-align: center;
					line-height: 2em;
					background-color: @color-light-green;
				}
				.trail {
					position: relative;
					display: none;
					margin: 0em 0 0 .5em;
					height: auto;
					width: auto;
					max-width: 50%;
					.sansSerif-light();
					line-height: 2.25em;
					color: @color-dark-blue;
					cursor: pointer;
				}
				.trailLength {
					position: relative;
					display: none;
					margin: .25em 1.5em 0 0em;
					float: right;
					height: auto;
					width: auto;
					max-width: 50%;
					display: inline-block;
					.sansSerif-light();
					font-size: 12px;
					line-height: 2.667em;
					color: @color-mid-green;
					cursor: pointer;
				}
			}
			.trailheadInfo {
				position: relative;
				display: inline-block;
				width: 100%;
				height: auto;
				padding: .5em 0 .5em 0;
				.parkName {
					position: relative;
					display: inline-block;
					/* Magic Number! */
					padding: 0em 0 0 2.7em;
					width: 100%;
					height: 1em;
				   	.sansSerif-light();
				   	font-size: 12px;
					color: @color-mid-gray;
				}
				.trailheadIcon {
					position: relative;
					display: inline-block;
					margin: 0em 0 0 .375em;
					height: 1em;
					width: auto;
				}
				.trailheadName {
					position: relative;
					display: inline-block;
					margin: .5em 0 0 .75em;
				   	.sansSerif-light();
				   	font-size: 12px;
					color: @color-mid-gray;
				}
				.trailheadDistance {
					position: relative;
					display: inline-block;
					float: right;
					margin: .5em 3.5em 0 0em;
				 	.sansSerif-light();
				   	font-size: 12px;
					text-align: right;
					color: @color-mid-gray;
				}
			}
		}
		.detailPanelBody {
			position: relative;
			height: auto;
			width: 100%;
			overflow: scroll;
			background-color: @color-white;
			.detailLengthRow {
				position: relative;
				display: inline-block;
				height: 2em;
				width: 100%;
				padding: .5em 0em 0em 1em;
				.sansSerif-light();
				.detailLengthHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
					margin-right: 1em;
				}
				.detailLength {
					position: relative;
					.sansSerif-light;
					color: @color-mid-green;
				}
				.detailSurfaceHeader {
					margin: 0 1em 0em 1em;
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailSurface {
					position: relative;
					.sansSerif-light;
					color: @color-mid-green;
				}
			}
			.detailActivityRow {
				position: relative;
				display: inline-block;
				height: 2em;
				width: 100%;
				padding: .5em 0em 0em 1em;
				margin: 0 0 2em 0;
				.detailActivityHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.activity-icon-row {
					height: 100%;
					width: auto;
					position: relative;
					display: inline-block;
				}
				.icon {
					position: relative;
					display: inline-block;
					height: 3em;
					width: auto;
					vertical-align: middle;
					color: red;
					.activity-icons {
						vertical-align: middle;
						height: 100%;
						width: auto;
						position: relative;
						display: inline-block;
					}
				}
			}
			.detailConditionsRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				margin-bottom: 1em;
				.detailConditionsHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailConditionsDescription {
					margin: .25em 0 .5em 0;
					.sansSerif-light;
					color: @color-mid-gray;

				}
				.detailTrailSurfaceHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailTrailSurface {
					margin: .25em 0 .5em 0;
					.sansSerif-light;
					color: @color-mid-gray;
				}
			}
			.detailMiddleRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				margin-bottom: 1em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailDescription {
					margin-top: .75em;
					.sansSerif-light;
					color: @color-mid-gray;
				}
			}
			.detailPanelPictureContainer {
				height: auto;
				.detailPanelPicture {
					width: 100%;
				}
				.detailPanelPictureCredits {
					position: relative;
					left: 0;
					height: auto;
					width: auto;
					margin: .08em 1.6em .08em 1.6em;
					.sansSerif-light;
					font-size: 10px;
					font-style: italic;
					color: @color-light-mid-gray;
				}
			}
			.detailBottomRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				img {
					height: 1em;
				}

				.detailTrailheadDistance {
					.sansSerif-light;
					color: @color-mid-green;
					float: right;
				}
				.detailTrailheadInfo {
					width: 100%;
					height: auto;
					position: relative;
					display: inline-block;
					margin-bottom: 1em;
					margin-top: .75em;
					.detailTrailheadDistance {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadName {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadPark {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadAddress {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadCity {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadState {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadZip {
						.sansSerif-light;
						color: @color-mid-gray;	
					}
				}
				.detailLinksToMore {
					position: relative;
					display: inline-block;
					width: 100%;
					height: auto;
					float: right;
					margin-bottom: 1em;
					margin-top: .75em;
					padding: 0em 0em 0em 0em;
					.detailDirections {
						width: auto;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-blue;
						padding: 0 3em 0 3em;
						margin: 0em 1em .5em 0em;
						text-align: center;
						cursor: pointer;
						transition: all 0.25s ease;
						.linkHeader {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	font-size: 12px;
						  	color: @color-dark-blue;
							line-height: 2.667em;
						}
						&:hover {
							background-color: @color-dark-blue;
						}
						&:hover > .linkHeader {
							color: @color-white;
						}
					}
					.detailPrintMap {
						width: auto;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-blue;
						padding: 0 3em 0 3em;
						margin: 0em 0em 0em 0em;
						text-align: center;
						cursor: pointer;
						transition: all 0.25s ease;
						.linkHeader {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	font-size: 12px;
						  	color: @color-dark-blue;
							line-height: 2.667em;
						}
						&:hover {
							background-color: @color-dark-blue;
						}
						&:hover > .linkHeader {
							color: @color-white;
						}
					}
				}
				.detailTrailheadAmenities {
					position: relative;
					display: inline-block;
					width: 100%;
					height: 2em;
					margin-top: 0em;
					.detailPanelHeader {}
					.detailTrailheadIcons {
						position: relative;
						display: inline-block;
						height: 2em;
						width: auto;
						vertical-align: middle;
						margin: 0em 0em 0em .5em;
						.amenity-icons {
							height: 100%;
							width: auto;
							position: relative;
							display: inline-block;
						}
					}
				}
				.detailLinksToSocial {
					position: relative;
					display: inline-block;
					height: auto;
					width: 100%;
					margin-top: 1.5em;
					.social-icon a {
						position: relative;
						display: inline-block;
						width: 6.5em;
						background-color: @color-light-mid-gray;
						color:white;
						float: right;
						margin: 0em 0em .25em 1.25em;
						padding: 0 .5em 0em 0em;
						cursor: pointer;
						transition: all 0.25s ease;
						text-align: right;
						vertical-align: middle;
						.sansSerif-light;
						font-size: 12px;
						color: @color-white;
						text-align: right;
						text-decoration: none;
						&:hover {
							background-color: @color-mid-gray;
						}
					}
				}
			}
			.extraLine {
				border-top: 1px solid @color-light-gray;
				position:relative;
				display:block;	
				margin-bottom:.5em;
			}
			.extraLine2 {
				border-bottom: 1px solid @color-light-gray;
				position:relative;	
				display:block;
			}
			.detailFooter {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em .75em 1em;
				.icon-large {
					width: 5em;
					// height: 100%;
					float: left;
					position: relative;
					display: inline-block;
					margin-right:1em;
				}
				.detailStewardInfo {
					position: relative;
					display: inline;
					height: auto;
					width: auto;
					margin-left: 1em;
					margin-top: .25em;
				}
				.detailStewardInfo a {
					text-decoration:none;
					display:block;
					color:@color-dark-blue;
					&:hover {
						text-decoration:underline;
					}
				}
				.detailPanelHeader {
					position: relative;
					display: block;
					.sansSerif-light;
					color: @color-light-mid-gray;
					position: relative;
					font-size: 12px;
					width: auto;
					text-transform: uppercase;
				}
				.detailSource {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 16px;
					width: 100%;
					cursor: pointer;
				}
				.detailSourcePhone {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 16px;
				}
				/* not needed? .detailSourceURL {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 12px;
				} */
			}
		}
	}
	@media @desktop {
		position: relative;
		display: none;
		width: 100%;
		height: 26.5em;
		background-color: @color-white;
		.detailPanelBanner {
			position: relative;
			width: 100%;
			background-color: @color-dark-blue;
			padding: .5em 1.75em .5em 1.75em;
			.trailName {
				.sansSerif-light;
				color: @color-white;
			}
			.trailIndex {
				.sansSerif-light;
				color: @color-white;
				font-size: 12px;
				float: right;
				margin-right: 3em;
			}
			.detailPanelControls {
				width: 2em;
				height: 150%;
				position: absolute;
				background-color: @color-dark-blue;
				z-index: 999;
				cursor: pointer ;
				&.disabled {
					cursor: auto;
					display: none;
				}
				&.controlLeft {
					top: 0;
					left: -2em;
					border-radius: 5em 0 0 5em;
					b {
						position: relative;
						margin: 1em 2em 1em 1em;
					    border-bottom: .8em solid transparent;
					    border-top: .8em solid transparent;
					    border-right: .8em solid @color-white;
					    display: inline-block;
					    height: 0;
					}
				}
				&.controlRight {
					top: 0;
					right: -2em;
					border-radius: 0 5em 5em 0;
					b {
						position: relative;
						margin: 1em 1em 1em .5em;
					    border-bottom: .8em solid transparent;
					    border-top: .8em solid transparent;
					    border-left: .8em solid @color-white;
					    display: inline-block;
					    height: 0;
					}
				}
			}
		}
		.detailPanelBody {
			position: relative;
			height: 24em;
			width: 24em;
			overflow: scroll;
			.detailPanelPictureContainer {
				height: auto;
				.detailPanelPicture {
					width: 100%;
				}
				.statusMessage {
					position: relative;
					bottom: 1em;
					height: auto;
					width: 100%;
					z-index: 999;
					.sansSerif-light;
					font-size: 12px;
					color: @color-white;
					&#yellow {
						background-color: @color-yellow;
					}
					&#red {
						background-color: @color-red;
					}
					img {
						height: auto;
						width: 10%;
						vertical-align: top;
						position: relative;
						display: inline-block;
					}
					span {
						height: auto;
						width: 90%;
						position: relative;
						display: inline-block;
						padding: 1em 1.33em 1em 0em;
					}
				}
				.detailPanelPictureCredits {
					position: relative;
					left: 0;
					height: auto;
					width: auto;
					margin: .08em 1.6em .08em 1.6em;
					.sansSerif-light;
					font-size: 10px;
					font-style: italic;
					color: @color-light-mid-gray;
				}
			}
			.detailTopRow {
				&#left {
					position: relative;
					display: inline-block;
					height: 2em;
					width: auto;
					padding: .5em 0em 0em 1em;
					float: left;
					.detailLength {
						position: relative;
						.sansSerif-light;
						color: @color-mid-green;
					}
					.detailLengthHeader {
						.sansSerif-light;
						color: @color-light-mid-gray;
						font-size: 12px;
						margin-right: 1em;
					}
				}
				&#right {
					position: relative;
					display: inline-block;
					height: 2em;
					width: auto;
					margin: 0 1em 0 0;
					float: right;
					.detailActivityHeader {
						.sansSerif-light;
						color: @color-light-mid-gray;
						font-size: 12px;
						margin-left: 1em;
						line-height: 38px;
					}
					.activity-icon-row {
						height: 100%;
						width: auto;
						position: relative;
						display: inline-block;
					}
					.icon {
						position: relative;
						display: inline-block;
						height: 2em;
						width: auto;
						vertical-align: middle;
						.activity-icons {
							vertical-align: middle;
							height: 100%;
							width: auto;
							position: relative;
							display: inline-block;
						}
					}
				}
			}
			.detailConditionsRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				margin-bottom: 1em;
				.detailConditionsHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailConditionsDescription {
					margin: .25em 0 .5em 0;
					.sansSerif-light;
					color: @color-mid-gray;

				}
				.detailTrailSurfaceHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailTrailSurface {
					margin: .25em 0 .5em 0;
					.sansSerif-light;
					color: @color-mid-gray;
				}
			}
			.detailMiddleRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				margin-bottom: 1em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				.detailDescription {
					margin-top: .75em;
					.sansSerif-light;
					color: @color-mid-gray;
				}
			}
			.detailBottomRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em 0em 1em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-mid-gray;
					font-size: 12px;
				}
				img {
					height: 1em;
				}
				.detailTrailheadDistance {
					.sansSerif-light;
					color: @color-mid-green;
					float: right;
				}
				.detailTrailheadInfo {
					width: 50%;
					height: auto;
					position: relative;
					display: inline-block;
					margin-bottom: 1em;
					margin-top: .75em;
					.detailTrailheadDistance {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadName {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadPark {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadAddress {
						.sansSerif-light;
						color: @color-mid-gray;
						display:block;
					}
					.detailTrailheadCity {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadState {
						.sansSerif-light;
						color: @color-mid-gray;
					}
					.detailTrailheadZip {
						.sansSerif-light;
						color: @color-mid-gray;	
					}
				}
				.detailLinksToMore {
					position: relative;
					display: inline-block;
					width: 40%;
					height: auto;
					float: right;
					margin-bottom: 1em;
					margin-top: .75em;
					padding: 0em 0em 0em 0em;
					.detailDirections {
						width: 100%;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-blue;
						margin: 0em 0em .5em 0em;
						text-align: center;
						cursor: pointer;
						transition: all 0.25s ease;
						a {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	font-size: 12px;
						  	color: @color-dark-blue;
							line-height: 2.667em;
						}
						&:hover {
							background-color: @color-dark-blue;
						}
						&:hover > a {
							color: @color-white;
						}
					}
					.detailPrintMap {
						width: 100%;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-blue;
						margin: 0em 0em 0em 0em;
						text-align: center;
						cursor: pointer;
						transition: all 0.25s ease;
						a {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	font-size: 12px;
						  	color: @color-dark-blue;
							line-height: 2.667em;
						}
						&:hover {
							background-color: @color-dark-blue;
						}
						&:hover > a {
							color: @color-white;
						}
					}
				}
				.detailTrailheadAmenities {
					position: relative;
					display: inline-block;
					width: 100%;
					height: 2em;
					margin-top: 1em;
					.detailPanelHeader {}
					.detailTrailheadIcons {
						position: relative;
						display: inline-block;
						height: 2em;
						width: auto;
						vertical-align: middle;
						margin: 0em 0em 0em .5em;
						.amenity-icons {
							height: 100%;
							width: auto;
							position: relative;
							display: inline-block;
						}
					}
				}
				.detailLinksToSocial {
					position: relative;
					display: inline-block;
					height: auto;
					width: 100%;
					margin-top: 1.5em;
					.social-icon {
						position: relative;
						display: inline-block;
						width: 5em;
						height: 1.25em;
						background-color: @color-light-mid-gray;
						float: right;
						margin: 0em 0em .25em 1em;
						padding: 0 .5em 0 0em;
						cursor: pointer;
						transition: all 0.25s ease;
						text-align: right;
						vertical-align: middle;
						&:hover {
							background-color: @color-mid-gray;
						}
						a {
							.sansSerif-light;
							font-size: 12px;
							color: @color-white;
							text-align: right;
							vertical-align: middle;
							text-decoration: none;
							margin-top: .5em;
						}
					}
				}
			}
			.extraLine {
				border-top: 1px solid @color-light-gray;
				position:relative;
				display:block;	
				margin-bottom:.5em;
			}
			.extraLine2 {
				border-bottom: 1px solid @color-light-gray;
				position:relative;	
				display:block;
			}
			.detailFooter {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 1em .75em 1em;
				.icon-large {
					height: 5em;
					// height: 100%;
					float: left;
					position: relative;
					display: inline-block;
					margin-right:1em;
				}

				.detailStewardInfo {
					position: relative;
					display: inline;
					height: auto;
					width: auto;
					margin-left: 1em;
					margin-top: .25em;
				}
				.detailStewardInfo a {
					text-decoration:none;
					display:block;
					color:@color-dark-blue;
					&:hover {
						text-decoration:underline;
					}
				}
				.detailPanelHeader {
					position: relative;
					display: block;
					.sansSerif-light;
					color: @color-light-mid-gray;
					position: relative;
					font-size: 12px;
					width: auto;
					text-transform: uppercase;
				}
				.detailSource {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 16px;
					width: 100%;
					cursor: pointer;
				} 
				.detailSourcePhone {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 16px;
				}
				/* not needed? .detailSourceURL {
					.sansSerif-light;
					color: @color-mid-gray;
					font-size: 12px;
				}*/
			}
		}
	}
}

.closeDetail {
	@media @mobile {
		display: none;	
	}
	@media @desktop {
		position: absolute;
		cursor: pointer;
		top: 5px;
		right: 10px;
		width: 25px;
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	  /* IE 5-7 */
	  filter: alpha(opacity=80);

	  /* Netscape */
	  -moz-opacity: 0.8;

	  /* Safari 1.x */
	  -khtml-opacity: 0.8;

	  /* Good browsers */
	  opacity: 0.8;
	  p {
	 	display: inline-block;
		text-align: center;
		color: @color-mid-gray;
		@sansSerif-light;
		font-weight: 300;
	   	font-size: 12px;
	   }
	}
}
