.trailListColumn {
	@media @mobile {
		display: none;	
		a {
			display: none;
		}
	}
	@media @desktop {
		position: absolute;
		top: 1em;
		left: 2em;
		width: 24em;
		height: auto;
		padding: 0;
		background: @color-white;
		z-index: 999;
	}
}

/* Deprecated detailPanelColumn (No longer necessary due to new arrangement)
.detailPanelColumn {
	@media @mobile {
		display: none;	
	}
	@media @desktop {
		display: none;
		position: relative;
		height: 500px;
		padding: 0;
		webkit-transition: width 0.3s ease, margin 0.3s ease;
		transition: width 0.3s ease, margin 0.3s ease;
	}
}
}
*/
.detailPanel {
	@media @mobile {
		display: none;	
		.detailPanelTitle {
			display: none;
		}
		.detailTrailheadName {
			display: none;
		}
		.detailLength {
			display: none;
		}
		.detailDirections {
			display: none;
		}
		.detailDifficulty {
			display: none;
		}
		.detailTrailheadDistance {
			display: none;
		}
		.detailPanelHeader{
			display: none;
		}
		.detailPanelPicture {
			display: none;
		}
		.detailDescription {
			display: none;
		}
		.detailPrintMap {
			display: none;
		}
		.social-icon {
			display: none;
		}
		.detailPanelBody {
			display: none;
		}
		.detailTopRow {
			display: none;
		}
		.detailMiddleRow {
			display: none;
		}
		.detailBottomRow {
			display: none;
		}
		.detailFooter {
			display: none;
		}
	}
	@media @desktop {
		position: relative;
		display: none;
		width: 100%;
		height: 400px;
		background-color: @color-white;
		.detailPanelBanner {
			position: relative;
			width: 100%;
			background-color: @color-dark-orange;
			padding: .5em .25em .5em 1em;
			.trailName {
				.sansSerif-light;
				color: @color-white;
			}
		}
		.detailPanelBody {
			position: absolute;
			height: auto;
			width: 100%;
			overflow: scroll;
			.detailPanelPicture {
				width: 100%;
			}
			.detailTopRow {
				&#left {
					position: relative;
					display: inline-block;
					height: 2em;
					width: auto;
					padding: .5em 0em 0em .5em;
					.detailLength {
						position: relative;
						.sansSerif-light;
						color: @color-light-blue;
					}
					.detailLengthHeader {
						.sansSerif-light;
						color: @color-light-gray;
						font-size: 12px;
					}
				}
				&#right {
					position: relative;
					display: inline-block;
					height: 2em;
					width: auto;
					.detailActivityHeader {
						.sansSerif-light;
						color: @color-light-gray;
						font-size: 12px;
					}
					.icon {
						position: relative;
						display: inline-block;
						height: 2em;
						width: auto;
						.activity-icons {
							height: 100%;
							width: auto;
							position: relative;
							display: inline-block;
						}
					}
				}
			}
			.detailMiddleRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 0em 0em .5em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-gray;
					font-size: 12px;
				}
				.detailDescription {
					.sansSerif-light;
					color: @color-dark-gray;
				}
			}
			.detailBottomRow {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: .5em 0em 0em .5em;
				.detailPanelHeader {
					.sansSerif-light;
					color: @color-light-gray;
					font-size: 12px;
				}
				.detailTrailheadInfo {
					width: 50%;
					height: auto;
					position: relative;
					display: inline-block;
					.detailTrailheadDistance {
						.sansSerif-light;
						color: @color-dark-gray;
					}
					.detailTrailheadName {
						.sansSerif-light;
						color: @color-dark-gray;
					}
					.detailTrailheadPark {
						.sansSerif-light;
						color: @color-dark-gray;
					}
					.detailTrailheadCounty {
						.sansSerif-light;
						color: @color-dark-gray;
					}
				}
				.detailLinksToMore {
					position: relative;
					display: inline-block;
					width: 40%;
					height: auto;
					float: right;
					padding: 0em .5em 0em 0em;
					.detailDirections {
						width: 100%;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-orange;
						margin: 0em 0em .5em 0em;
						text-align: center;
						a {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	color: @color-white;
							line-height: 2em;
						}
					}
					.detailPrintMap {
						width: 100%;
						height: 2em;
						position: relative;
						display: inline-block;
						background-color: @color-light-orange;
						margin: 0em 0em 0em 0em;
						text-align: center;
						a {
							width: 100%;
							vertical-align: middle;
							text-decoration: none;
						  	.sansSerif-light;
						  	color: @color-white;
							line-height: 2em;
						}
					}
				}
				.detailLinksToSocial {
					position: relative;
					display: inline-block;
					width: 100%;
					.social-icon {
						position: relative;
						float: left;
						margin-left: 5px;
						width: 30px;
					}
				}
			}
			.detailFooter {
				position: relative;
				display: inline-block;
				height: auto;
				width: 100%;
				padding: 10px;
				& span {
					@sansSerif-bold;
					color: @color-dark-orange;
					font-size: 14px;
					line-height: 15px;
					position: absolute;
					left: 30%;
					top: 20px;
				}
				.icon-large {
					width: 25%;
					float: left;
					position: relative;
					bottom: 0;
				}
				.detailSource {
					position: absolute;
					left: 30%;
					top: 40px;
				}
				.detailSourceTelephone {
					position: absolute;
					left: 60%;
					top: 40px;
				}
			}
		}
	}
}

.closeDetail {
	@media @mobile {
		display: none;	
	}
	@media @desktop {
		position: absolute;
		top: 5px;
		right: 10px;
		width: 25px;
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	  /* IE 5-7 */
	  filter: alpha(opacity=80);

	  /* Netscape */
	  -moz-opacity: 0.8;

	  /* Safari 1.x */
	  -khtml-opacity: 0.8;

	  /* Good browsers */
	  opacity: 0.8;
	  p {
	 	display: inline-block;
		text-align: center;
		color: @color-dark-gray;
		@sansSerif-light;
		font-weight: 300;
	   	font-size: 12px;
	   }
	}
}
