/* Filter Module */

.filters {
	@media @mobile {
		display: none;	
	}
	@media @desktop {
		position: relative;
		width: auto;
		min-width: 400px;
		height: 100%;
		display: inline-block;
		left: 20px;
		border-left: 1px dotted @color-light-gray;
		&:after {
			content: '';
			display: inline-block;
		};
		.btn {

			&:hover {
				color: @color-white;
				text-shadow: none;
				background-color: @color-green;
			};
			&:focus {};
			&:active {};
			.dropdown-toggle {
				background-color: transparent;
				height: 100%;
				font-weight: lighter;
				border-width: 1px;
				border-color: @color-gray-border;
			}
		}
	}
}

.bootstrap-select .btn-group, .bootstrap-select .btn-group[class*="span"] {}

/*.bootstrap-select .btn-group: {
	&:hover {

	}
};*/

.bootstrap-select:not([class*="span"]) {
	/* Mobile */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		display: none;
	}
	/* Desktop */
	@media only screen and (min-width : 1224px) {
		width: 160px;
	}
}

.activityFilter-highlight {}

.btn-group { 
	/* Mobile */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		display: none;
	}
	/* Desktop */
	@media only screen and (min-width : 1224px) {
		btn {
			&:first-child {
				border-right-style: dotted;
				border-bottom: none;
				border-top: none;
				border-radius: 0;
				border-left: none;
			};
		}
	}
}

.searchbar {
	/* Mobile */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		display: none;
	}
	/* Desktop */
	@media only screen and (min-width : 1224px) {
		position: relative;
		height:60px;
		width: 100%;
		background-color: #fff;
		text-align: justify;
		line-height: 30px;
	}
}
