/* Filter Module */


.accordion {
	@media @mobile {}
	@media @desktop {
		.panel-title {
			margin: 0;
			padding: 0 .25em 0 .25em;
			/* Let's abstract this transition so we can keep it consistent across animations*/
			-webkit-transition: .1s all ease-in-out;
			-moz-transition: .1s all ease-in-out;
			-o-transition: .1s all ease-in-out;
			transition: .1s all ease-in-out;
			background: @color-light-gray;
			color: #333;
			&:hover {
				background: #CCC;
			};
			&:active {
				background: #999;
			};
			.active {
				background: #CCC;
				&:active {
					background: #999;
				};
			};
		}
		.accordion-innerwrap {
			margin: 0 auto;
			width: 98%;
		}
	}
}

.panel-container {
	@media @mobile {}
	@media @desktop {
		margin: .25em 0;
	}
}

.panel-content {
	@media @mobile {}
	@media @desktop {
		list-style-type: none;
		margin: 0;
		li {
			border-bottom: 1px dotted #AAA;
			padding: .25em;
			:last-child {
				border-bottom: none;
				padding-bottom: none;
			}
		}
	}
}

.js {
	@media @mobile {}
	@media @desktop {
		.visuallyhidden {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			.focusable {
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: static;
				width: auto;
			}
		}
	}
}

.no-js {
	@media @mobile {}
	@media @desktop {
		.visuallyhidden {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
			.focusable {
				&:active {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: 0;
				}
				&:focus {
					clip: auto;
					height: auto;
					margin: 0;
					overflow: visible;
					position: static;
					width: 0;
				}
			}
		}
	}
}

.clearfix {
	@media @mobile {}
	@media @desktop {
		*zoom: 1;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.list-reset {
	@media @mobile {}
	@media @desktop {
		padding: 0;
		list-style: none;
	}
}