/* Look into justification for overriding styles*/
/* Make sure you need the semicolons inside and outside of the {} on the pseudo-class lines*/
/* Variables used: color, typography */

.title-row {
	@media @mobile {
		position: relative;
		width: 100%;
		height: auto;
		top: 0;
		margin: 0;
		header {
			width: 100%;
			margin: 0;
			padding: 0;
			z-index: 999;
			.navbar-inner {
				position: relative;
				width: 100%;
				background-color: @color-dark-brown;
				border: none;
				box-shadow: none;
				text-align: justify;
				padding: .5em 0em .5em 1em;
				.hamburger {
				    cursor: pointer;
				    display: inline-block;
				    height: 25px;
				    padding: 8px 4px 8px;
				    position: relative;
				    width: 25px;
				    background: @color-dark-brown;
		/* The white stripes in the hamburger button */
					div {
					    background-color: @color-white;
					    border: 1px solid @color-white;
					    border-radius: 2px 2px 2px 2px;
					    height: 2px;
					    margin-top: 3px;
					    width: 90%;
					}
				}
				.logo {
					/* height: 100%; * This causes Safari issues */
					width: 4em;
				}
			}
		}
	}
	@media @desktop {
		position: relative;
		width: 100%;
		top: 0;
		margin: 0;
		header {
			position: relative;
			width: 100%;
			margin-bottom: 0;
			padding: 0;
			.navbar-inner {
				position: relative;
				background-color: @color-dark-brown;
				border: none;
				box-shadow: none;
				text-align: justify;
				padding: .75em .25em .5em 1em;
				&:after {
					content: '';
					display: inline-block;
				}
				.logo {
					/* height: 100%; */
					width: 18em;
					margin-left:-1em;
				}
				.about {
					position: relative;
					margin-left: 11em;
					display: inline-block;
					.sansSerif-light;
					font-size: 12px;
					text-decoration: none;
					color: @color-light-blue;
					&:hover {
						color: @color-mid-blue;
					}
				}
				.hamburger {
					display: none;
				}
			}
		}
	}
}