/* Typography */

.oswald-large {
  font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
}

.serif-large (@weight: 100, @size: 30px, @lineHeight: 30px) {
    font-family: Oswald, "Times New Roman", serif;
    font-weight: @weight;
    font-size: @size;       
    line-height: @lineHeight;
}

.sansSerif-large (@weight: 100, @size: 15x, @lineHeight: 20px) { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: @weight;
    font-size: @size;
    line-height: @lineHeight;
}

/*	font-family: 'Oswald', sans-serif; font-weight: 100; letter-spacing: 1px;
	font-size: 18px;
	line-height: 20px;
	color: #C45F37;

   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-size: 14px;*/
/*	color: #4e4c4c;*/
/*    Then, to call a mixin from that particular group, you do this:

body {
  #Fonts > .SansSerif;
}*/